{% extends "master.html" %}

{% block title %}
  List of Free Games
{% endblock %}

{% block content %}
  <div class="card-container">
      <div class="mycard">
        <h1>Traffic Tour</h1>
        <ul>
          <img src="https://s.cafebazaar.ir/images/upload/screenshot/com.wolvesinteractive.traffictourclassic-8f1010eb-6676-4e54-9172-0d50b0294640.webp?x-img=v1/resize,h_600,lossless_false/optimize"
              style="max-width: 250px; height: 150px; margin: 7.5px 0px; width: 351px;">
        </ul>
      </div>
      <div class="mycard">
        <h1>Army Force War</h1>
        <ul>
          <img src="https://img.gamepix.com/games/army-force-war/cover/army-force-war.png?w=400&ar=16:10"
              style="max-width: 250px; height: 150px; margin: 7.5px 0px; width: 351px;">
        </ul>
      </div>
      <div class="mycard">
        <h1>The Bodyguard</h1>
        <ul>
          <img src="https://cdn6.aptoide.com/imgs/2/0/3/203ee6d31b2c9e39ad0e26616dd46bf6_icon.png"
              style="max-width: 250px; height: 150px; margin: 7.5px 0px; width: 351px;">
        </ul>
      </div>
      <div class="mycard">
        <h1>Golf Battle</h1>
        <ul>
          <img src="https://cdn2.fptshop.com.vn/unsafe/1920x0/filters:quality(100)/2024_6_10_638536524043698290_battle-nen-1.jpg"
              style="max-width: 250px; height: 150px; margin: 7.5px 0px; width: 351px;">
        </ul>
      </div>
      <div class="mycard">
        <h1>Anime Battle 4</h1>
        <ul>
          <img src="https://w8.snokido.com/img/large/anime-battle-43.jpg?130121"
              style="max-width: 250px; height: 150px; margin: 7.5px 0px; width: 351px;">
        </ul>
      </div>
      <div class="mycard">
        <h1>Motor Tour</h1>
        <ul>
          <img src="https://play-lh.googleusercontent.com/Tj6-JRnzbuySsPFEoThG9MJHyrKLHpVxRw-9zZtt71MZh-AJgZAtKrPGTDDSRWGlSQ=w526-h296-rw"
              style="max-width: 250px; height: 150px; margin: 7.5px 0px; width: 351px;">
        </ul>
      </div>
      <div class="mycard">
        <h1>Dream Chefs</h1>
        <ul>
          <img src="https://assets.funnygames.org/4/114784/100563/1024x1024/dream-chefs.webp"
              style="max-width: 250px; height: 150px; margin: 7.5px 0px; width: 351px;">
        </ul>
      </div>
      <div class="mycard">
        <h1>Real Football</h1>
        <ul>
          <img src="https://store-images.s-microsoft.com/image/apps.1340.14408815433578965.997661b1-d882-4979-bee2-55baea6e8772.d1c376d5-2dcc-467c-9a11-2d0a4e97ffac?w=672&h=378&q=80&mode=letterbox&background=%23FFE4E4E4&format=jpg"
              style="max-width: 250px; height: 150px; margin: 7.5px 0px; width: 351px;">
        </ul>
      </div>
      <div class="mycard">
        <h1>GTA Banditen</h1>
        <ul>
          <img src="https://img.y8.com/cloud/y8-thumbs/4428/big.jpg"
              style="max-width: 250px; height: 150px; margin: 7.5px 0px; width: 351px;">
        </ul>
      </div>
  </div>
{% endblock %}
